.userContainer {
    border: 2px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
    width: auto;
    border-radius: 8px;
}

.userInfo {
    color: green;
    font-weight: bold; }